# 数据预处理

创建一个人工数据集，并存储在csv文件：

In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

## 读取数据集

In [2]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

## 处理缺失值

为了处理缺失的数据，典型的方法包括插值和删除，这里我们将考虑插值：

In [3]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
# 对于类别值或离散值，将 “NaN” 视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True) 
# 对于数值，取平均
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0        True      False
1       2.0       False       True
2       4.0       False       True
3       3.0       False       True

## 转换为张量格式

In [4]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))  # python 默认使用的 float 是 64 位浮点数
y = torch.tensor(targets.to_numpy(dtype=float))
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))

## 练习：

创建包含更多行和列的原始数据集。
1. 删除缺失值最多的列。
2. 将预处理后的数据集转换为张量格式。

In [5]:
data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [6]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]

In [7]:
inputs.isna()

   NumRooms  Alley
0      True  False
1     False   True
2     False   True
3      True   True

In [8]:
# Return the sum of the values for the requested axis
inputs.isna().sum(axis=0)

NumRooms    2
Alley       3
dtype: int64

In [9]:
index = inputs.isna().sum().idxmax(axis=0)  # idxmax() 用于沿索引轴查找最大值的索引
index

'Alley'

In [10]:
inputs = inputs.drop(index, axis=1)
print(inputs)

   NumRooms
0       NaN
1       2.0
2       4.0
3       NaN

In [11]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets.to_numpy(dtype=float))
X, y

(tensor([[nan],
         [2.],
         [4.],
         [nan]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))